NODE_ENV=production
# todo: заменить API_URL на продовый домен, если домены фронта и бэка совпадают, то достаточно написать /api/
API_URL=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_URL=
SENTRY_ORG=
SENTRY_PROJECT=
