@use "sass:color";

$white: #fff;
$black: #3e3e3e;
$black1: #000;
$gray-94: #949494;
$lightGray: #f2f3f7;
$lightGray1: #fafafa;
$lightGray2: #f8fafb;
$lightGrayTransparent: rgba(217, 217, 217, 0.24);
$textGray: #202020;
$textGray2: #515151;
$textGray3: #84848b;
$textGray4: #373737;
$darkBlack: #1a1a1a;
$totalBlack: #000;
$blueGray: #a4b3c9;
$gray-666: #666;

$lightBlue: #f3f7fb;
$lightBlue2: #e1e8f2;
$lightBlue3: #f1f6fc;
$darkBlue: #1d2939;
$darkBlue2: #121d2c;

$lightGreen: #f1faf7;
$green: #128635;

$red: #ce000c;
$darkRed: #ad4230;
$darkRed2: #c62b34;
$orange: #ed6337;
$cedar: #3f1c14;
$brandRed: #a02a16;
$lightPink: #fff6f6;
$lightPink2: #fbeeee;
$lilac: #e9e9f0;
$ochre: #b78b45;
$brown: #725518;
$beige: #e6dac5;
$beige2: #e5d8c0;

$modalFade: rgba(#3c0b00, 0.85);

$bg-gradient: linear-gradient(170.84deg, #eaf6fc 10.75%, #e8e6dd 51.34%, #e5d8c0 88.81%);
$brown-gradient: linear-gradient(90.95deg, #41341a 0.34%, #785917 106.03%);
